<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Max_trans" value="30" />
    <add key="Max_articles" value="5" />
    <add key="path_Daily_Dict" value="/home/ruichi/Documents/OCR/DailyDict/" />
    <add key="Configuration" value="Server=magicstone.dvmm.org;Database=VideoOCR;Uid=ruichi;Pwd=MLmsLrqUufwzxTEu;" />
    <add key="OCR_Caption" value="Server=magicstone.dvmm.org;Database=WikiEvent;Uid=ruichi;Pwd=MLmsLrqUufwzxTEu;" />
    <add key="Transcripts" value="Server=magicstone.dvmm.org;Database=BroadcastNews;Uid=ruichi;Pwd=MLmsLrqUufwzxTEu;" />
    <add key="GNewsCrawler" value="Server=magicstone.dvmm.org;Database=GNewsCrawler;Uid=ruichi;Pwd=MLmsLrqUufwzxTEu;" />
    <!-- <add key="path_English_dict" value="C:\\Users\\mac\\Desktop\\OCR-realtime\\Project\\DailyDict" />
    add key="path_Daily_Dict" value="/home/ruichi/Documents/OCR/DailyDict/"
    <add key="path_Date" value="E:\\OCR\\date.txt" />
    <add key="path_Daily_Dict" value="E:\\OCR\\Project\\DailyDict\\" /> -->
  </appSettings>
</configuration>