<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Configuration" value="Server=magicstone.dvmm.org;Database=VideoOCR;Uid=ruichi;Pwd=MLmsLrqUufwzxTEu;" />
    <add key="OCR_Caption" value="Server=magicstone.dvmm.org;Database=WikiEvent;Uid=ruichi;Pwd=MLmsLrqUufwzxTEu;" />
    <add key="Transcripts" value="Server=magicstone.dvmm.org;Database=BroadcastNews;Uid=ruichi;Pwd=MLmsLrqUufwzxTEu;" />
    <add key="GNewsCrawler" value="Server=magicstone.dvmm.org;Database=GNewsCrawler;Uid=ruichi;Pwd=MLmsLrqUufwzxTEu;" />
    <add key="Max_articles" value="30" />
    <add key="path_Event_Dict" value="C:\\Users\\mac\\Desktop\\OCR\\Project\\EventDict\\" />
    <!-- <add key="path_English_dict" value="E:\\OCR\\random.txt" />
    <add key="path_Event_Dict" value="/home/ruichi/Documents/OCR/EventDict/" />
    <add key="path_Date" value="E:\\OCR\\date.txt" />
    <add key="path_Daily_Dict" value="C:\\Users\\mac\\Desktop\\OCR\\Project\\EventDict\\" /> -->
    
  </appSettings>
</configuration>